/** 
    This doc is intended to hold page-specific backgrounds and colors
**/ 

.background {
    background: url("opt-neko-tai-1082487-unsplash.jpg") no-repeat center center fixed;
    background-color: rgb(210, 193, 183);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.innerStyle {
    background-color: rgba(233, 207, 197, 0.466);
}

.faintFont {
    color: rgba(233, 207, 197, 0.5);
}